*{
    margin: 0;
    padding: 0;
}
html,body{
    height: 100%;
    width: 100%;
    background-color: #169976;
}
h1{
    height: 70px;
    text-align: center;
    background-color: black;
    color: white;
}
#box1{
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#222222;
}
#box{
    height: 120px;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color:#222222;
}
.img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    object-fit: cover;
}
.circle{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 30px;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background-color: rgb(239, 113, 161);
    object-fit:scale-down;
}
button:hover{
    border: black;
}
.score{
background-color: #1DCD9F;
height: 100px;
width: 100%;
padding-top: 50px;
text-align: center;
justify-content: center;
}
#state{
    text-align: center;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: blanchedalmond;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 60px;
    border-radius: 10px;
}
#state1{
    text-align: center;
    height: 60px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: blanchedalmond;
    margin-left: 35%;
    margin-right: 35%;
    margin-top: 60px;
    border-radius: 10px;
}
.names{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 60px;
    margin-left: 70px;
    color: white;
}